# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./media:/app/media   # Persist uploads locally (optional)

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: dropvault_db
      POSTGRES_USER: navya
      POSTGRES_PASSWORD: Navya@21
    ports:
      - "5432:5432"   # Optional: expose to host for pgAdmin

volumes:
  postgres_data: